/* app.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #25a0bf;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.btn-catalog,
.btn-add-book {
  margin-right: 10px;
  margin-bottom: 10px;
}
This will ap .btn-add-book {
  margin-left: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: blue;
  font-size: 16px;
}

.info {
  font-size: 20px;
  font-weight: bold;
}

.err {
  color: red;
}
/* app.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 55vh; */
  margin-top: 20px;
}

.form-container {
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.err {
  color: red;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.action-link {
  color: #007bff;
  text-decoration: none;
}

.action-link:hover {
  text-decoration: underline;
}

.details-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.details-title {
  margin-bottom: 20px;
}

.details-item {
  margin-bottom: 10px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
